<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="{{ base }}">

    <title>FeedND | Order Pickup Online</title>

    <link href="css/main.css" rel="stylesheet">
    <link href="css/userregistration.css" rel="stylesheet">

    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Feed ND</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="restaurants">Restaurants</a></li>
            <li><a href="orders">Orders</a></li>
            <li><a href="users/me">Account</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="alerts"></div>

    <div class="container-fluid theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Feed ND</h1>
        <p>Keep yourself fed by ordering online and picking food up or getting it delivered from great establishments nearby.</p>
      </div>

      <div class="page-header">
        <h1>User Registration</h1>
      </div>
      <div id="registration-panel" class="container-fluid">
        <form id="user-add-form" class="form-horizontal" role="form" method="POST" action="users/registration" enctype="application/json" target="">
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-name-input">Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="user-name-input" name="name" placeholder="Enter name" required />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-email-input">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="user-email-input" name="email" placeholder="Enter email" required />
              <div id="email-error" class="validation-error"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-password-input">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="user-password-input" name="password" placeholder="Enter password" required />
              <div id="password-error" class="validation-error"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-password-confirm-input">Confirm Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="user-password-confirm-input" name="password-confirm" placeholder="Confirm password" required />
              <div id="password-confirm-error" class="validation-error"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-phone-input">Phone:</label>
            <div class="col-sm-10">
              <input type="tel" class="form-control" id="user-phone-input" name="phone" placeholder="Enter phone number" required />
              <div id="phone-error" class="validation-error"></div>
            </div>
          </div>
          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
      </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script src="userregistration.js"></script>

  </body>
</html>

